# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Stuff
*.tlog
*.pdb
*.ilk
*.exp
*.log
*.db
proj.win32/.vs/MMP SS17 Projekt/v15/.suo
proj.win32/.vs/MMP SS17 Projekt/v15/.suo
proj.win32/.vs/MMP SS17 Projekt/v15/.suo
proj.win32/.vs/MMP SS17 Projekt/v15/Browse.VC.db
*.ipch
proj.win32/.vs/MMP SS17 Projekt/v15/Browse.VC.db
*.tlog
proj.win32/Debug.win32/MMP SS17 Projekt.tlog/CL.command.1.tlog
*.tlog
*.pdb
proj.win32/Debug.win32/MMP SS17 Projekt.tlog/rc.write.1.tlog
proj.win32/Debug.win32/MMP SS17 Projekt.tlog/MMP SS17 Projekt.write.1u.tlog
proj.win32/Debug.win32/MMP SS17 Projekt.tlog/MMP SS17 Projekt.lastbuildstate
proj.win32/Debug.win32/MMP SS17 Projekt.tlog/link.write.1.tlog
proj.win32/.vs/MMP SS17 Projekt/v15/.suo
proj.win32/Debug.win32/CocosProject.tlog/CL.read.1.tlog
proj.win32/Debug.win32/CocosProject.tlog/CL.write.1.tlog
proj.win32/.vs/MMP-SS17-Projekt/v15/.suo
proj.win32/Debug.win32/CloseNormal.png
proj.win32/Debug.win32/CloseSelected.png
proj.win32/Debug.win32/res/korb.png
proj.win32/Debug.win32/res/CloseButton.png
proj.win32/Debug.win32/fonts/Marker Felt.ttf
proj.win32/Debug.win32/res/StartButton.png
proj.win32/Debug.win32/vc141.idb
proj.win32/Debug.win32/vc141.pdb
proj.win32/Debug.win32/res/Schraege.png
proj.win32/Debug.win32/res/Rampe.png
proj.win32/Debug.win32/res/EasyButton.png
proj.win32/Debug.win32/res/Bumper.png
proj.win32/Debug.win32/res/CrossButton.png
proj.win32/Debug.win32/fonts/arial.ttf
proj.win32/Debug.win32/res/Block1.png
proj.win32/Debug.win32/res/Level1.png
proj.win32/Debug.win32/res/Level3.png
proj.win32/Debug.win32/res/MediumButton.png
proj.win32/Debug.win32/res/QuestionButton.png
proj.win32/Debug.win32/res/.gitkeep
proj.win32/Debug.win32/res/BumperBenutzt.png
proj.win32/Debug.win32/res/Block3.png
proj.win32/Debug.win32/res/HardButton.png
proj.win32/Debug.win32/res/level2.png
proj.win32/Debug.win32/res/DropButton.png
proj.win32/Debug.win32/res/Block2.png
proj.win32/Debug.win32/res/BackArrowButton.png
proj.win32/Debug.win32/res/ResetButton.png
proj.win32/Debug.win32/res/HelloWorld.png
proj.win32/Debug.win32/HelloWorld.png
proj.win32/.vs/MMP-SS17-Projekt/v15/.suo
proj.win32/Debug.win32/res/wall.png
proj.win32/Debug.win32/res/box.png
proj.win32/.vs/MMP-SS17-Projekt/v15/Solution.VC.db-wal
proj.win32/.vs/MMP-SS17-Projekt/v15/Solution.VC.db-shm
proj.win32/.vs/MMP-SS17-Projekt/v15/.suo
proj.win32/.vs/MMP-SS17-Projekt/v15/.suo
proj.win32/.vs/MMP-SS17-Projekt/v15/.suo
proj.win32/Debug.win32/vc141.pdb
proj.win32/Debug.win32/res/dummyPNG.png
proj.win32/Debug.win32/vc141.idb
proj.win32/.vs/MMP-SS17-Projekt/v15/.suo
proj.win32/Debug.win32/vc141.pdb
proj.win32/.vs/MMP-SS17-Projekt/v15/.suo
proj.win32/Debug.win32/res/Box12.png
proj.win32/Debug.win32/res/Box13.png
proj.win32/Debug.win32/res/Box23.png
proj.win32/Debug.win32/res/Box22.png
proj.win32/Debug.win32/res/Box33.png
proj.win32/Debug.win32/res/Box32.png
proj.win32/Debug.win32/res/Logo.png
proj.win32/Debug.win32/res/rampe2.png
proj.win32/Debug.win32/res/rampe2
proj.win32/Debug.win32/res/rampe3
proj.win32/Debug.win32/res/rampe3.png
proj.win32/Debug.win32/res/Schraege2
proj.win32/Debug.win32/res/Schraege2.png
proj.win32/Debug.win32/res/Schraege3
proj.win32/Debug.win32/res/Schraege3.png
