# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Stuff
*.tlog
*.pdb
*.ilk
*.exp
*.log
*.db
proj.win32/.vs/MMP SS17 Projekt/v15/.suo
proj.win32/.vs/MMP SS17 Projekt/v15/.suo
proj.win32/.vs/MMP SS17 Projekt/v15/.suo
proj.win32/.vs/MMP SS17 Projekt/v15/Browse.VC.db
*.ipch
proj.win32/.vs/MMP SS17 Projekt/v15/Browse.VC.db
*.tlog
proj.win32/Debug.win32/MMP SS17 Projekt.tlog/CL.command.1.tlog
*.tlog
*.pdb
proj.win32/Debug.win32/MMP SS17 Projekt.tlog/rc.write.1.tlog
proj.win32/Debug.win32/MMP SS17 Projekt.tlog/MMP SS17 Projekt.write.1u.tlog
proj.win32/Debug.win32/MMP SS17 Projekt.tlog/MMP SS17 Projekt.lastbuildstate
proj.win32/Debug.win32/MMP SS17 Projekt.tlog/link.write.1.tlog
proj.win32/.vs/MMP SS17 Projekt/v15/.suo
proj.win32/Debug.win32/CocosProject.tlog/CL.read.1.tlog
proj.win32/Debug.win32/CocosProject.tlog/CL.write.1.tlog
