<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trumpbumper1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{189,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{210,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{231,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{21,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{42,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{63,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{84,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{105,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{126,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{147,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{168,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bumperanimation2.png</string>
            <key>size</key>
            <string>{252,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97ce1989aaf1aac79bb1960a065366bd:07b9a13fc74c465a7eb9ea528f3d4037:a097bedd85b4eb310b7979daf411e4f8$</string>
            <key>textureFileName</key>
            <string>bumperanimation2.png</string>
        </dict>
    </dict>
</plist>
