<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trumpbumper1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,48},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,95},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,48},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,142},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,189},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,236},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,283},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,236},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,189},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumpbumper9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{1,330},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bumperanimation.png</string>
            <key>size</key>
            <string>{23,376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6af08d165219a28f2615f5c6ddfc0d45:07b9a13fc74c465a7eb9ea528f3d4037:856ad360f6c6b1445874e4ae338dd064$</string>
            <key>textureFileName</key>
            <string>bumperanimation.png</string>
        </dict>
    </dict>
</plist>
