<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trumprampe01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{0,135},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{42,135},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,47}</string>
                <key>spriteSourceSize</key>
                <string>{21,47}</string>
                <key>textureRect</key>
                <string>{{63,181},{21,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,46}</string>
                <key>spriteSourceSize</key>
                <string>{21,46}</string>
                <key>textureRect</key>
                <string>{{63,135},{21,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,47}</string>
                <key>spriteSourceSize</key>
                <string>{21,47}</string>
                <key>textureRect</key>
                <string>{{84,181},{21,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,46}</string>
                <key>spriteSourceSize</key>
                <string>{21,46}</string>
                <key>textureRect</key>
                <string>{{84,135},{21,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{21,135},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{63,90},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{84,90},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{42,90},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,46}</string>
                <key>spriteSourceSize</key>
                <string>{21,46}</string>
                <key>textureRect</key>
                <string>{{21,181},{21,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{105,90},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,46}</string>
                <key>spriteSourceSize</key>
                <string>{21,46}</string>
                <key>textureRect</key>
                <string>{{0,181},{21,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,46}</string>
                <key>spriteSourceSize</key>
                <string>{21,46}</string>
                <key>textureRect</key>
                <string>{{105,135},{21,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{22,48}</string>
                <key>textureRect</key>
                <string>{{105,181},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{21,90},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,47}</string>
                <key>spriteSourceSize</key>
                <string>{21,47}</string>
                <key>textureRect</key>
                <string>{{42,181},{21,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{84,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{63,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{105,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{42,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{0,45},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{42,45},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{105,45},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{84,45},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{0,90},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{63,45},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{21,45},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trumprampe09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,45}</string>
                <key>spriteSourceSize</key>
                <string>{21,45}</string>
                <key>textureRect</key>
                <string>{{21,0},{21,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rampeanimation.png</string>
            <key>size</key>
            <string>{127,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53e2b41ebcd072fbe6bd67ccc25a4a75:ca189ec0a5c70b645e4cec7be968fd01:f042ed12a95986aa932b571980e371bd$</string>
            <key>textureFileName</key>
            <string>rampeanimation.png</string>
        </dict>
    </dict>
</plist>
